$border : 1px solid lightgray;
$border-collapse: collapse;
$text-align: center;
$width: 50%;
$border-radius: 5px;

.customtable {
    border: $border;
    width: $width;
    font-family: 'Trebuchet MS', sans-serif;
    border-radius :$border-radius;
}

thead, tbody, tr, th, td {
    border: $border;
    border-radius :$border-radius;
    padding:5px;
    text-align: $text-align;
}

th, thead {
    background-color: lightgray;
}
